DATABASE_PASSWORD=some-secure-password
DATABASE_USER=exorcist
DATABASE_HOST=127.0.0.1
DATABASE_PORT=5432
DATABASE_NAME=exorcist
DATABASE_CONNECTION_STRING=postgres://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}?sslmode=disable
MEDIA_PATH=
DEBUG_SQL=true
DEV=true
PLANT_UML_PORT=8088
PLANT_UML_HOST=127.0.0.1
